h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
}

h2 {
	color: $primary;
}

h4 {
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: bold;
	font-family: $font-family-base;
	margin-bottom: 1.5rem;
}

h5, h6 {
	text-transform: uppercase;
	color: $black;
	font-size: $h5-font-size;
	font-weight: bold;
	font-family: $font-family-base;
	letter-spacing: 1px;

	@include media-breakpoint-down(sm) {
		font-size: 0.9rem;
	}
}

.btn {
	text-transform: uppercase;
}

@include media-breakpoint-down(sm) {
	.display-3 {
		font-size: $h2-font-size;
	}
}