$primary: #00AEAA; //green
$secondary: #64645D; //grey
$gray-700: #404040;
$gray-800: #333; //$dark
$gray-900: $secondary; //body color
$light: #DCE5E5; //light green

$font-family-base: "Avenir Book", Helvetica, sans-serif;

$font-size-base: 1.125rem;
$h5-font-size: 1rem;

$border-radius: 	0.125rem;

$jumbotron-padding:	2rem;
$jumbotron-bg:		none;

$card-border-width:	0;