@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';

@import 'fonts';
@import 'typography';

@import 'components/jumbotron',
		'components/page-header',
		'components/navbar',
		'components/illuminate',
		'components/section-link',
		'components/blog-preview',
		'components/swoosh',
		'components/site-footer',
		'components/blockquote';


.carousel-control-prev-icon {
 background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300AFAA' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%2300AFAA' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
	width: 30px;
	height: 30px;
}

@keyframes color_change {
	from { opacity: 0; }
	to { opacity: 1; }
}

#A, #M {
	fill: #00AEAA;
	animation: color_change 6s 1;
}

.big-logo {
	@include media-breakpoint-down(sm) {
		width: 100%;
	}
}