.blockquote {
	font-weight: bold;
	color: $primary;
	max-width: 400px;
	padding: calc(85px + 1rem) 2rem 1rem;
	float: right;
	margin-right: -25%;
	background-image: url('../img/device.svg');
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 76px 85px;
	text-align: center;

	p {
		margin-bottom: 0;
	}
	
	.mask {
		@include media-breakpoint-up(lg) {
			display: block;
			content: "";
			width: 123px;
			height: 291px;
			shape-outside: polygon(0 0, 123px 0, 0 291px);
			float: left;
		}
	}

	.mask + p {
		position: relative;
		left: -5px;
		text-align: left;
	}

	@include media-breakpoint-down(md) {
		margin-right: 0;
		max-width: 100%;
	}
}

.col-lg-10 .blockquote {
	margin-right: -16%;

	@include media-breakpoint-down(md) {
		margin-right: 0;
	}
}