.blog-preview {
	@include media-breakpoint-down(sm) {
		margin-bottom: 2.5rem !important;
	}

	&__link {
		text-transform: uppercase;
	}

	.card-body {
		padding: 1rem;
	}
}

.post-list {
	&__post {
		margin-bottom: 5rem;

		h5 {
			@include media-breakpoint-up(lg) {
				width: 75%;
				line-height: 1.5;
			}
		}
	}
}

.post-image {
	@include media-breakpoint-down(xs) {
		width: 100%;
		margin-bottom: 1rem;
	}
}

.post-meta {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 0.9rem;

	&__item {
		&::after {
			content: "///";
			display: inline-block;
			margin: 0 0.5rem 0 0.5rem;
		}		
	}
}