.illuminate {
	position: relative;

	&::after {
		display: block;
		content: "";
		width: 100%;
		height: 16px;
		background: url('../img/slash.svg');
		background-repeat: space no-repeat;
		background-size: 15px 16px;
		position: absolute;
		bottom: -24px;
		left: 0;	
	}

	&--gutter::after {
		margin-left: 1.25rem;
		width: calc(100% - 2.5rem);
	}

	&--tight::after {
		bottom: -16px;
	}

	&--top {
		padding-top: calc(24px + 1rem);

		&::after {
			bottom: initial;
			top: 0;
		}
	}

	&--heading {
		display: inline-block;
	}
}