.navbar {
	text-transform: uppercase;
	padding-left: 0;

	.nav-item.active .nav-link {
		color: $secondary;
	}

	.navbar-brand {
		transition: transform 0.2s;

		img {
			@include media-breakpoint-down(xs) {
				height: 60px;
			} 
		}
	}

	.navbar-brand:hover {
		transform: scale(1.03);
	}
}