.section-link {
	background-image: url('../img/halfpattern.svg'), linear-gradient(90deg, #00AFAA 0%, #8AD7D5 100%);
	background-repeat: no-repeat;
	background-position: right, left;
	background-size: auto 100%, auto;
	padding: 2rem 1rem;
	color: $white;
	transition: box-shadow 0.2s ease-in-out, transform 0.2s;

	&:hover {
		@extend .shadow;
		transform: scale(1.01);

		&::after {
			background-size: 15px 10px;
		}
	}

	&--alpha {
		background-image: url('../img/halfpattern-alpha.svg'), linear-gradient(90deg, #00AFAA 0%, #8AD7D5 100%);		
	}

	&--beta {
		background-image: url('../img/halfpattern-beta.svg'), linear-gradient(90deg, #00AFAA 0%, #8AD7D5 100%);		
	}	

	.section-link__content {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		align-items: flex-end;	

		.section-link__title {
			width: 100%;
			font-size: $h2-font-size;
		}

		.section-link__text {
			max-width: 60%;

			@include media-breakpoint-down(md) {
				max-width: 100%;
			}
		}

		.section-link__button {
			min-width: 260px;

			@include media-breakpoint-down(md) {
				max-width: 100%;
				width: 100%;
			}
		}		
	}
}

