.swoosh {
	background-image: url('../img/angle-top.svg');
	background-repeat: no-repeat;
	background-size: 101vw 10vw;
	background-position: 0 -1.5%;
	padding-top: calc(10vw + 2rem);

	@include media-breakpoint-down(sm) {
		background-position: 0 0;
	}

	&--light {
		background-image: url('../img/angle-top-light.svg');
	}
}